body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.6;
    background: #f2f0e1;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
    color: #355c29;
}

h2, h3 {
    margin-top: 30px;
    color: #355c29;
}

p {
    margin: 5px 0;
}

section {
    margin-bottom: 30px;
}


h2 {
    border-bottom: 2px solid #355c29;
    padding-bottom: 5px;
}
